{% extends 'base.html' %}
{% block title %}
    Recommender
{% endblock %}
{%block content%}
    <div class="container">
        <h1 class="display-1 text-center"><b>Recommendations</b></h1>
        <div>
            {% for line in recommendations %}
                <div class="card p-2 w-25 m-3 " style="float:left;">
                    <div class="card-title">
                       <b>{{line[0]}}</b> , {{line[1]}}<br>
                    </div>     
                    {{line[2]}}<br>
                    <img src="{{line[3]}}" 
                    style="height: 300px; width: 300px;">
                </div>
            {% endfor %}
        </div>
    </div>
{%endblock%}
